
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">LECHATONG</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a routerLinkActive="active" routerLink="index.html">Home</a></li>
          <li><a routerLinkActive="active" routerLink="about.html">About</a></li>
          <li><a routerLinkActive="active" routerLink="resume.html">Resume</a></li>
          <!-- <li><a href="services.html">Services</a></li> -->
          <!-- <li><a href="portfolio.html">Portfolio</a></li> -->
          <li><a routerLinkActive="active" routerLink="#">Contact</a></li>
          <li>
            <div ngbDropdown class="d-inline-block">
              <a  id="dropdownMenu1" ngbDropdownToggle class="text-uppercase nav-link">{{lang}}</a>
              <a ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <a href="javascript:;" (click)="changeLanguage('fr')" class="dropdown-item text-uppercase">{{'french' | translate}}</a>
                <a href="javascript:;" (click)="changeLanguage('en')" class="dropdown-item text-uppercase">{{'english' | translate}}</a>
              </a>
            </div>
          </li>
          <span class="mr-auto hidden-md-up"></span>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>


      </nav><!-- .navbar -->



      <div class="header-social-links">
        <a href="https://twitter.com/LeChatong/" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://github.com/LeChatong/" target="_blank" class="github"><i class="bi bi-github"></i></a>
        <a href="https://t.me/lechatong/" target="_blank" class="telegram"><i class="bi bi-telegram"></i></a>
        <a href="https://www.linkedin.com/in/ulrich-armel-tchatong-0a3860bb/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>

  </header>
<!-- End Header -->
<main id="main">
  <!-- ======= Hero Section ======= -->
  <router-outlet></router-outlet>
  <!-- End Hero -->
</main>

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>LeChatong</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
<!-- End  Footer -->
