<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Resume</h2>
      <!--<p>
        Je suis un jeune développeur passionné de technologie, je m'adapte facilement à
        ceux-ci et j'aime relever de nouveaux défis et contribuer à la réalisation de
        grandes choses. La stagnation est ma plus grande crainte c'est pour cela que je
        vais toujours de l'avant.
      </p>-->
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">{{ 'Education' | translate }}</h3>
        <div class="resume-item">
          <h4>{{ 'Master Professionnel en Management en Système d\'Information' | translate }}</h4>
          <h5>2017 - 2019</h5>
          <p><em><b>{{ 'Institut supérieur de Management et de l\'Entrepreneuriat' | translate }}, Douala, CM</b></em></p>
          <p>{{ 'Formation centré sur le management entrepreneurial dans les métiers de l\'informatique avec l\'apprentissage des outils tels que' | translate }} : <b>ITIL, COBIT</b></p>
        </div>
        <div class="resume-item">
          <h4>{{ 'Licence Professionnelle en Génie Logiciel' | translate }}</h4>
          <h5>2015 - 2016</h5>
          <p><em><b>{{ 'Institut Universitaire de la Côte' | translate }} (IUC), Douala, CM</b></em></p>
          <p>
            {{ 'Formation centré dans l\'approfondissement dans le domaine du développement logiciel' | translate }}
          </p>
        </div>
        <div class="resume-item">
          <h4>D.E.C <sub>(Diplôme d'Etude Collegiale)</sub> {{ 'en Programmation et Analyse' | translate }}</h4>
          <h5>2013 - 2015</h5>
          <p><em><b>{{ 'Institut Universitaire de la Côte' | translate }} (IUC), Douala, CM</b></em></p>
          <p>
            {{ 'Formation délocalisée; sous la tutelle du CCNB (Collège Communautaire de Nouveau Brunswick au Canada), elle nous permet d\'apprendre les base de l\'analyse et du développement logiciel' | translate }}.<br/>
            {{ 'Outils' | translate }} : <b>UML; MERISE; Java; PHP; Framework .NET; Oracle; MySQL...</b>
          </p>
        </div>

        <h3 class="resume-title">{{ 'Activités Freelance' | translate }}</h3>
        <div class="resume-item pb-0">
          <h4>{{ 'Développeur Back-End' | translate }} LeBeautyHub237 (API)</h4>
          <h5>2020 - {{ 'Présent' | translate }}</h5>
          <p><em><b>LeBeautyHub237, Douala, CM</b></em></p>
          <p>{{ 'Je participe au développement de l\'application (mobile) camerounaise de vente en ligne LeBeautyHub237 actuellement disponible sur le PlayStore de Google et l\'AppStore de Apple. Mes tâches sont les suivantes' | translate }} :</p>
          <ul>
            <li>{{ 'Recueillir les besoin du client' | translate }}</li>
            <li>{{ 'Concevoir les API REST utilisable par le développeur Front-End' | translate }}</li>
            <li>{{ 'Mettre en place des processus utilisateur' | translate }}</li>
            <li>{{ 'Assurer le déploiement et la maintenance des API en ligne' | translate }}</li>
          </ul>
          <p>{{ 'Technologies' | translate }} : <b>Django; Python; Django Rest Framework; Firebase; Heroku; PostgreSQL</b></p>
        </div>

        <h3 class="resume-title">{{ 'Réalisations Personnelles' | translate }}</h3>
        <div class="resume-item pb-0">
          <h4>LeChatongUniverse</h4>
          <h5>2019 - {{ 'Présent' | translate }}</h5>
          <p>{{ 'Site web de présentation de films et séries télé disponible via le lien suivant' | translate }} :
            <a href="https://lechatonguniverse.herokuapp.com/fr/" target="_blank">https://lechatonguniverse.herokuapp.com/fr/</a></p>
          <p>{{ 'Technologies' | translate }} : <b>Django; Python; Bootstrap; Heroku; PostgreSQL</b></p>
        </div>
        <div class="resume-item pb-0">
          <h4>BeakHub API</h4>
          <h5>2021 - {{ 'Présent' | translate }}</h5>
          <p>{{ 'Technologies' | translate }} : <b>Django; Python; Bootstrap; Heroku; PostgreSQL</b></p>
        </div>
        <div class="resume-item pb-0">
          <h4>LeChatongBot</h4>
          <h5>2020 - {{ 'Présent' | translate }}</h5>
          <p>{{ 'Robot Telegram' | translate }}</p>
          <p>{{ 'Technologies' | translate }} : <b>Python; Heroku; Telegram</b></p>
        </div>
        <div class="resume-item pb-0">
          <h4>LeChatongWeb</h4>
          <h5>2021 - {{ 'Présent' | translate }}</h5>
          <p>{{ 'Site Web' | translate }}</p>
          <p>{{ 'Technologies' | translate }} : <b>Angular; Bootstrap; Heroku</b></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">{{ 'Professional Experience' | translate }}</h3>
        <div class="resume-item">
          <h4>{{ 'Développeur Full-Stack' | translate }}</h4>
          <h5>2020 - {{ 'Présent' | translate }}</h5>
          <p><em><b>ITGStore Consulting, Douala, CM</b> </em></p>
          <p>{{ 'Mes missions sont les suivantes' | translate }} :</p>
          <ul>
            <li>{{ 'Participer au développement de diverses applications' | translate }}</li>
            <li>{{ 'Assurer la maintenance corrective d\'application' | translate }}</li>
            <li>{{ 'Concevoir et implémenter des interfaces web responsive' | translate }}</li>
            <li>{{ 'Faire des veilles technologique' | translate }}</li>
            <li>{{ 'Mettre en place des documentations' | translate }}</li>
            <li>{{ 'Participer aux réunions et présentation' | translate }}</li>
          </ul>
          <p>{{ 'Technologies' | translate }} : <b>Jhipster; Spring Boot; Angular; AngularJS; PostgreSQL; Liquibase</b></p>
        </div>
        <div class="resume-item">
          <h4>{{ 'Analyste Développeur' | translate }}</h4>
          <h5>2016 - 2020</h5>
          <p><em><b>{{ 'Institut Universitaire de la Côte' | translate }} (IUC), Douala, CM</b></em></p>
          <p>{{ 'Mes missions sont les suivantes' | translate }} :</p>
          <ul>
            <li>{{ 'Participer à la conception et réalisation de divers module sur l\'ERP utilisé dans l\'institut' | translate }}</li>
            <li>{{ 'Mettre en place les documentations' | translate }}</li>
            <li>{{ 'Mettre en place des Web Services pour d\'autres applications tierces' | translate }}</li>
            <li>{{ 'Recueillir les besoins utilisateurs et s\'assurer de leur implémentation' | translate }}</li>
            <li>{{ 'Assurer la maintenance de l\'ERP' | translate }}</li>
            <li>{{ 'Participer aux réunions et présentations' | translate }}</li>
          </ul>
          <p>{{ 'Technologies' | translate }} : <b>Framework ADF; Java; Oracle; PL/SQL</b></p>
        </div>
        <h3 class="resume-title">{{ 'Stage' | translate }}</h3>
        <div class="resume-item">
          <h4>{{ 'Stagiaire Professionnel' | translate }}</h4>
          <h5>2015 - 2016</h5>
          <p><em><b>{{ 'Institut Universitaire de la Côte' | translate }} (IUC), Douala, CM</b></em></p>
          <p>{{ 'Dans ce stage professionnel j\'avais pour mission de terminer les développements sur l\'application open source' | translate }} <a href="https://fedena.com/" target="_blank"><b>Fedena</b></a> {{ 'en vue de l\'adapté au système scolaire camerounais. Nous avons donc ajouté d\'autres modules et mettre a jour ceux existant' | translate }}.</p>
          <p>{{ 'Technologies' | translate }} : <b>Ruby on Rails; MySQL; Bootstrap</b></p>
          <p>{{ 'Autres activités' | translate }} : <b>{{ 'Documentation; Présentation; Déploiement et recueil des besoins du client' | translate }}</b> ({{ 'établissement secondaire de la place' | translate }})</p>
        </div>
      </div>
    </div>

  </div>
</section>
