<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Resume</h2>
      <p>
        Je suis un jeune développeur passionné de technologie, je m'adapte facilement à
        ceux-ci et j'aime relever de nouveaux défis et contribuer à la réalisation de
        grandes choses. La stagnation est ma plus grande crainte c'est pour cela que je
        vais toujours de l'avant.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Master Professionnel en Management en Système d'Information</h4>
          <h5>2017 - 2019</h5>
          <p><em><b>Institut supérieur de Management et de l'Entrepreneuriat, Douala, CM</b></em></p>
          <p>Formation centré sur le management entrepreneurial dans les métiers de l'informatique avec l'apprentissage des outils tels que : <b>ITIL, COBIT</b></p>
        </div>
        <div class="resume-item">
          <h4>Licence Professionnelle en Génie Logiciel</h4>
          <h5>2015 - 2016</h5>
          <p><em><b>Institut Universitaire de la Côte (IUC), Douala, CM</b></em></p>
          <p>
            Formation centré dans l'approfondissement dans le domaine du développement logiciel
          </p>
        </div>
        <div class="resume-item">
          <h4>D.E.C <sub>(Diplôme d'Etude Collegiale)</sub> en Programmation et Analyse</h4>
          <h5>2013 - 2015</h5>
          <p><em><b>Institut Universitaire de la Côte (IUC), Douala, CM</b></em></p>
          <p>
            Formation délocalisée; sous la tutelle du CCNB (Collège Communautaire de Nouveau Brunswick au Canada), elle nous permet d'apprendre les base de l'analyse et du développement logiciel.<br/>
            Outils : <b>UML; MERISE; Java; PHP; Framework .NET; Oracle; MySQL...</b>
          </p>
        </div>

        <h3 class="resume-title">Activités Freelance</h3>
        <div class="resume-item pb-0">
          <h4>Développeur Back-End LeBeautyHub237 (API)</h4>
          <h5>2020 - Présent</h5>
          <p><em><b>LeBeautyHub237, Douala, CM</b></em></p>
          <p>Je participe au développement de l'application (mobile) camerounaise de vente en ligne LeBeautyHub237 actuellement disponible sur le PlayStore de Google et l'AppStore de Apple. Mes tâches sont les suivantes :</p>
          <ul>
            <li>Recueillir les besoin du client</li>
            <li>Concevoir les API REST utilisable par le développeur Front-End</li>
            <li>Mettre en place des processus utilisateur</li>
            <li>Assurer le déploiement et la maintenance des API en ligne</li>
          </ul>
          <p>Technologies : <b>Django; Python; Django Rest Framework; Firebase; Heroku; PostgreSQL</b></p>
        </div>

        <h3 class="resume-title">Réalisations Personnelles</h3>
        <div class="resume-item pb-0">
          <h4>LeChatongUniverse</h4>
          <h5>2019 - Présent</h5>
          <p>Site web de présentation de films et séries télé disponible via le lien suivant :
            <a href="https://lechatonguniverse.herokuapp.com/fr/" target="_blank">https://lechatonguniverse.herokuapp.com/fr/</a></p>
          <p>Technologies : <b>Django; Python; Bootstrap; Heroku; PostgreSQL</b></p>
        </div>
        <div class="resume-item pb-0">
          <h4>BeakHub API</h4>
          <h5>2021 - Présent</h5>
          <p>Technologies : <b>Django; Python; Bootstrap; Heroku; PostgreSQL</b></p>
        </div>
        <div class="resume-item pb-0">
          <h4>LeChatongBot</h4>
          <h5>2020 - Présent</h5>
          <p>Robot Telegram</p>
          <p>Technologies : <b>Python; Heroku; Telegram</b></p>
        </div>
        <div class="resume-item pb-0">
          <h4>LeChatongWeb</h4>
          <h5>2021 - Présent</h5>
          <p>Site Web</p>
          <p>Technologies : <b>Angular; Bootstrap; Heroku</b></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Développeur Full-Stack</h4>
          <h5>2020 - Présent</h5>
          <p><em><b>ITGStore Consulting, Douala, CM</b> </em></p>
          <p>Mes missions sont les suivantes :</p>
          <ul>
            <li>Participer au développement de diverses applications</li>
            <li>  Assurer la maintenance corrective d'application</li>
            <li>  Concevoir et implémenter des interfaces web responsive</li>
            <li>  Faire des veilles technologique</li>
            <li>  Mettre en place des documentations</li>
            <li>  Participer aux réunions et présentation</li>
          </ul>
          <p>Technologies : <b>Jhipster; Spring Boot; Angular; AngularJS; PostgreSQL; Liquibase</b></p>
        </div>
        <div class="resume-item">
          <h4>Analyste Développeur</h4>
          <h5>2016 - 2020</h5>
          <p><em><b>Institut Universitaire de la Côte (IUC), Douala, CM</b></em></p>
          <p>Mes missions sont les suivantes :</p>
          <ul>
            <li>Participer à la conception et réalisation de divers module sur l'ERP utilisé dans l'institut</li>
            <li>  Mettre en place les documentations</li>
            <li>  Mettre en place des Web Services pour d'autres applications tierces</li>
            <li>  Recueillir les besoins utilisateurs et s'assurer de leur implémentation</li>
            <li>  Assurer la maintenance de l'ERP</li>
            <li>  Participer aux réunions et présentations</li>
          </ul>
          <p>Technologies : <b>Framework ADF; Java; Oracle; PL/SQL</b></p>
        </div>
        <h3 class="resume-title">Stage</h3>
        <div class="resume-item">
          <h4>Stagiaire Professionnel</h4>
          <h5>2015 - 2016</h5>
          <p><em><b>Institut Universitaire de la Côte (IUC), Douala, CM</b></em></p>
          <p>Dans ce stage professionnel j'avais pour mission de terminer les développements sur l'application open source <a href="https://fedena.com/" target="_blank"><b>Fedena</b></a> en vue de l'adapté au système scolaire camerounais. Nous avons donc ajouté d'autres modules et mettre a jour ceux existant.</p>
          <p>Technologies : <b>Ruby on Rails; MySQL; Bootstrap</b></p>
          <p>Autres activités : <b>Documentation; Présentation; Déploiement et recueil des besoins du client</b> (établissement secondaire de la place)</p>
        </div>
      </div>
    </div>

  </div>
</section>
